<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{catalog.title})}">

<head></head>

<body>
    <main layout:fragment="input">
        <form method="post" action="/plotcatalog/filter#top">
            <a id="top"></a>

            <!-- button to act as the default submit button, so the others don't. -->
            <button type="submit" class="hidden"></button>
            <div class="container mx-auto mt-20">
                <div class="stats shadow w-full">

                    <div class="stat place-items-center">
                        <div class="stat-title">Zeitraum</div>
                        <div class="stat-actions">
                            <div>
                                <label>start</label>
                                <input class="input" type="date" name="arrival"
                                    th:value="${searchQuery.defaultedArrival}" th:min="${searchQuery.minArrivalDate}"
                                    onchange="this.form.submit()">
                            </div>
                            <div>
                                <label>end</label>
                                <input class="input" type="date" name="departure"
                                    th:value="${searchQuery.defaultedDeparture}"
                                    th:min="${searchQuery.defaultedArrival}" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>

                    <div class="stat place-items-center">
                        <div class="stat-title">Parkplatz</div>
                        <div class="stat-value text-secondary">
                            <select class="select w-full max-w-xs" name="parking" onchange="this.form.submit()">
                                <option disabled selected>Pick The minimum size you need</option>
                                <option value="0" th:selected="${searchQuery.parking==0}"
                                    th:text="#{catalog.parking.no}">
                                </option>
                                <option value="1" th:selected="${searchQuery.parking==1}"
                                    th:text="#{catalog.parking.bike}">
                                </option>
                                <option value="2" th:selected="${searchQuery.parking==2}"
                                    th:text="#{catalog.parking.car}">
                                </option>
                                <option value="3" th:selected="${searchQuery.parking==3}"
                                    th:text="#{catalog.parking.camper}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="stat place-items-center">
                        <div class="stat-title">Größe in Quadratmeter</div>
                        <div class="stat-actions">
                            <div>
                                <input class="input" type="number" name="sizeMin" th:value="${searchQuery.sizeMin}"
                                    th:placeholder="#{catalog.ranges.from-size}" onchange="this.form.submit()">
                            </div>
                            <div>
                                <input class="input" type="number" name="sizeMax" th:value="${searchQuery.sizeMax}"
                                    th:placeholder="#{catalog.ranges.to-size}" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>

                    <div class="stat place-items-center">
                        <div class="stat-title">Preis</div>
                        <div class="stat-actions">
                            <div>
                                <input class="input" type="number" name="priceMin" th:value="${searchQuery.priceMin}"
                                    th:placeholder="#{catalog.ranges.from-price}" onchange="this.form.submit()">
                            </div>
                            <div>
                                <input class="input" type="number" name="priceMax" th:value="${searchQuery.priceMax}"
                                    th:placeholder="#{catalog.ranges.to-price}" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div th:fragment="plot_table" class="overflow-x-auto container mx-auto mt-14">
                <table th:if="${availablePlotsTable != null}" class="table table-zebra">
                    <!-- head -->
                    <thead>

                        <input type="hidden" name="firstWeekDate" th:value="${searchQuery.defaultedFirstWeekDate}">
                        <th class="w-[34%]">
                            <h2 th:if="${availablePlotsTable}" th:text="#{catalog.plots.available}"></h2>
                            <h2 th:if="${!availablePlotsTable}" th:text="#{catalog.plots.reserved}"></h2>
                        </th>
                        <th class="w-[5%]">
                            <button type="submit" formaction="/plotcatalog/prev-week#filter">
                                < </button>
                        </th>
                        <th class="w-[8%]" th:each="date, stat : ${weekDates}"
                            th:utext=" #{'weekday.'+${stat.index}} + '<br/>' + ${date}">date</th>
                        <th class="w-[5%]">
                            <button type="submit" formaction="/plotcatalog/next-week#filter">>
                            </button>
                        </th>

                    </thead>
                    <tbody>
                        <tr th:each="plot, iStat : ${allPlots.get(availablePlotsTable)}">
                            <th class="flex">
                                <div>
                                    <img class="h-32 w-32" th:src="${plot.imagePath}" />
                                </div>
                                <div>
                                    <div th:text="${plot.name}">Plotname</div>
                                    <div>
                                        <div th:text="'Kosten: '+${plot.priceString}"></div>
                                        <div th:text="'Größe: '+${plot.sizeString}"></div>
                                        <div th:text="#{${plot.parking.label}}"></div>
                                        <div th:text="${plot.desc}"></div>
                                    </div>
                                    <button type="submit" th:formaction="'/cart/' + ${plot.id}"
                                        th:text="#{catalog.reserve}"></button>
                                </div>
                            </th>
                            <td></td>
                            <td class="hover:bg-secondary p-0 relative" th:classappend="${fields.type.color}"
                                th:each="fields : ${availabilityTable.get(plot)}">
                                <button th:type="${fields.type.clickability}"
                                    th:formaction="'/plotcatalog/select/'+${plot.id}+'/'+${fields.index}+'#'+${availablePlotsTable}"
                                    class="absolute top-0 right-0 bottom-0 left-0 w-full">
                                    <div>
                                        <text th:text="#{${fields.type.label}}"></text>
                                    </div>
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{old/plotcatalog :: plot_table (availablePlotsTable=true)}"></div>
            <div th:replace="~{old/plotcatalog :: plot_table (availablePlotsTable=false)}"></div>


        </form>
        <div class="hidden">
            <span>Legende</span>
            <p class="bg-green-500">selected</p>
            <p class="bg-red-500">already reserved</p>
            <p class="bg-yellow-600">booked by you</p>
            <p class="bg-blue-300">selected time period</p>
            <p class="bg-transparent">free</p>
        </div>
    </main>
</body>

</html>