<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{cart.title})}">

<head></head>

<body>
    <main layout:fragment="input">
        <!-- warping everything in a form. this way all state the site hold is submitted at once and nothing is lost -->
        <form class="ui form" method="post" action="/plots#filter">
            <a id="filter"></a>
            <!-- Search Panel -->
            <!-- Wrapping it in a table as a hack to surround it in a pretty box -->
            <table class="ui table">
                <td>
                    <div class="inline fields">
                        <div class="six wide field"></div>
                        <div class="one wide field"></div>
                        <div class="one wide field"></div>
                        <div class="one wide field">
                            <label>Parkplatz</label>
                        </div>
                        <div class="six wide field">
                            <div class="ui field">
                                <select class="flex" name="parking" onchange="this.form.submit()">
                                    <option value="0" th:selected="${searchQuery.parking==0}"
                                        th:text="#{catalog.parking.no}"> </option>
                                    <option value="1" th:selected="${searchQuery.parking==1}"
                                        th:text="#{catalog.parking.bike}"></option>
                                    <option value="2" th:selected="${searchQuery.parking==2}"
                                        th:text="#{catalog.parking.car}"></option>
                                    <option value="3" th:selected="${searchQuery.parking==3}"
                                        th:text="#{catalog.parking.camper}"></option>
                                </select>
                                <label>mindestens</label>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="one wide field">
                            <label>Größe</label>
                        </div>
                        <div class="three wide field">
                            <input type="number" name="sizeMin" th:value="${searchQuery.sizeMin}"
                                th:placeholder="#{catalog.ranges.from}" onchange="this.form.submit()">
                        </div>
                        <div class="three wide field">
                            <input type="number" name="sizeMax" th:value="${searchQuery.sizeMax}"
                                th:placeholder="#{catalog.ranges.to}" onchange="this.form.submit()">
                        </div>
                        <div class="one wide field"></div>
                        <div class="one wide field">
                            <label>Preis</label>
                        </div>
                        <div class="three wide field">
                            <input type="number" name="priceMin" th:value="${searchQuery.priceMin}"
                                th:placeholder="#{catalog.ranges.from}" onchange="this.form.submit()">
                        </div>
                        <div class="three wide field">
                            <input type="number" name="priceMax" th:value="${searchQuery.priceMax}"
                                th:placeholder="#{catalog.ranges.to}" onchange="this.form.submit()">
                        </div>
                    </div>
                </td>
            </table>

            <!-- button to act as the default submit button, so the others don't. we shove it off to the side, to be hidden -->
            <button type="submit" style="position:relative;left:1000000px"></button>

            <!-- The table showing the available and unavailable Plots -->
            <!-- The Fragment definition of the table-->

            <div th:fragment="plot_table">
                <!-- if preventing the fragment beging rendered, without beging explicitly included -->
                <table class="ui item equal width table">

                    <tbody th:each="plot, iStat : ${allSeasonalPlots}">
                        <tr>
                            <td class="ui items">
                                <div class="ui item">
                                    <div class="ui small image" style="display: inline-block">
                                        <img th:src="'/img/camp ('+${iStat.count} +').png'" />
                                    </div>
                                    <div class="content" style="display:inline-block; width:40px">
                                        <div class="header" th:text="${plot.name}">null</div>
                                        <div class="meta">
                                            <div th:text="'Kosten: '+${plot.priceString}"></div>
                                            <div th:text="'Größe: '+${plot.sizeString}"></div>
                                            <div th:text="#{${plot.parking.label}}"></div>
                                        </div>
                                        <button type="submit" class="ui button" th:formaction="'/cart/' + ${plot.id}"
                                            th:text="#{catalog.reserve}"></button>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                Buchungszeitraum April bis Oktober
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </form>
    </main>
</body>

</html>