<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{dashboard.title})}">

<head></head>

<body>
	<main layout:fragment="input">
		<div class="overflow-x-auto container mx-auto mt-14 rounded-box shadow-lg">
			<table class="table table-zebra">
				<thead class="bg-secondary">
					<tr>
						<th></th>
						<th th:text="#{accountancy.date}"></th>
						<th th:text="#{accountancy.amount}"></th>
						<th th:text="#{accountancy.description}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry, iStat : ${accountancy}">
						<form method="post" action="/management/plots/updatePlot">
							<td th:text="${iStat.count}">
								1
							</td>
							<td>
								<label th:text="${entry.date.get()}" class="input input-sm w-full focus:outline-accent"></label>
							</td>
							<td>
								<label th:text="${entry.value}" class="input input-sm w-full focus:outline-accent"></label>
							</td>
							<td>
								<label th:text="${entry.description}" class="input input-sm w-full focus:outline-accent"></label>
							</td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>