<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{dashboard.title})}">

<head></head>

<body>
	<main layout:fragment="input">
		<div class="overflow-x-auto">
			<table class="table table-zebra">
				<!-- head -->
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					<!--<tr>
						<th>1</th>
						<td>Cy Ganderton</td>
						<td>Quality Control Specialist</td>
						<td>Blue</td>
					</tr>-->
					<!-- row 2 -->
					<tr th:each="customer, iStat : ${Customers}" class="hover">
						<th th:text="${iStat.count}">2</th>
						<td th:text="${customer.getUserAccount.username}"></td>
						<td th:value="${customer.getUserAccount().getRoles().iterator().next()}"></td>
					</tr>
					<!-- row 3 -->
					<!--<tr>
						<th>3</th>
						<td>Brice Swyre</td>
						<td>Tax Accountant</td>
						<td>Red</td>
					</tr>-->
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>