<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{title.orders})}">

<head></head>

<body>
    <main layout:fragment="input">
        <div class="overflow-x-auto container mx-auto rounded-box mt-14 shadow-md">
            <table class="table table-zebra">
                <thead class="bg-secondary">
                    <tr>
                        <th></th>
                        <th>Plot</th>
                        <th>arrival</th>
                        <th>departure</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="plot, iStat : ${plotOrdersCompleted}" class="hover">
                        <th th:text="${iStat.count}">1</th>
                        <td><a th:text="${plot.product.name}"
                                th:href="@{/plotcatalog/details/{plot}(plot=${plot.product.id})}"></a></td>
                        <td th:text="${#temporals.format(plot.begin, 'dd.MM.yyyy | 12:00')}">arrival</td>
                        <td th:text="${#temporals.format(plot.end, 'dd.MM.yyyy | 11:00')}">daparture</td>
                        <td th:text="${plot.duration}">days</td>
                        <td th:text="${plot.price}">price</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-x-auto container mx-auto rounded-box mt-14 shadow-md">
            <table class="table table-zebra">
                <thead class="bg-secondary">
                    <tr>
                        <th></th>
                        <th>SeasonalPlot</th>
                        <th>arrival</th>
                        <th>departure</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="seasonalplot, iStat : ${seasonalOrdersCompleted}">
                        <th th:text="${iStat.count}">1</th>
                        <td><a th:text="${seasonalplot.product.name}"
                                th:href="@{/plotcatalog/details/{seasonplot}(seasonplot=${seasonalplot.product.id})}"></a>
                        </td>
                        <td th:text="${#temporals.format(seasonalplot.begin, 'dd.MM.yyyy')}">arrival</td>
                        <td th:text="${#temporals.format(seasonalplot.end, 'dd.MM.yyyy')}">daparture</td>
                        <td th:text="${seasonalplot.duration}"></td>
                        <td th:text="${seasonalplot.getPrice}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-x-auto container mx-auto rounded-box mt-14 shadow-md mb-14">
            <table class="table table-zebra">
                <thead class="bg-secondary">
                    <tr>
                        <th></th>
                        <th>sportitem</th>
                        <th>begin</th>
                        <th>end</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sportitems, iStat : ${sportOrdersCompleted}">
                        <th th:text="${iStat.count}">1</th>
                        <td><a th:text="${sportitems.product.name}"
                                th:href="@{/sportitem/{sportitem}(sportitem=${sportitems.product.id})}"></a>
                        </td>
                        <td th:text="${#temporals.format(sportitems.begin, 'dd.MM.yyyy | HH:mm')}">arrival</td>
                        <td th:text="${#temporals.format(sportitems.end.plusHours(1), 'dd.MM.yyyy | HH:mm')}">daparture
                        </td>
                        <td th:text="${sportitems.duration}"></td>
                        <td th:text="${sportitems.getPrice}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>