<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{orders.title})}">

<head></head>

<body>
    <main layout:fragment="input">
        <div class="overflow-x-auto container mx-auto mt-14 rounded-box">
            <table class="table table-zebra">
                <thead class="bg-secondary">
                    <tr>
                        <th></th>
                        <th>Titel</th>
                        <th>arrival</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, iStat : ${ordersCompleted}" class="hover">
                        <th th:text="${iStat.count}">1</th>
                        <td th:text="${item.product.name}">name</td>
                        <td th:text="${item.begin}">arrival</td>
                        <td th:text="${item.duration}">days</td>
                        <td th:text="${item.getPrice}">price</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>