<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=${item.name})}">

<head></head>

<body>
    <main layout:fragment="input">
        <div class="overflow-x-auto container mx-auto mt-14 rounded-box shadow-lg">
            <div class="grid grid-cols-2 gap-2">
                <div class="m-2">
                    <div class="grid grid-flow-col justify-around items-center">
                        <div>
                            <h2 class="text-2xl font-bold" th:text="${item.name}"></h2>
                            <p th:text="'Preis: '+${{item.price}}"></p>
                            <p th:text="${item.desc}"></p>
                        </div>
                    </div>
                    <div class="mt-14" sec:authorize="isAuthenticated()">
                        <form th:action="'/plotcatalog/details/'+${item.id}+'/comments'" method="post">
                            <div class="rating">
                                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1"
                                    id="rating" />
                                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2"
                                    id="rating" />
                                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3"
                                    id="rating" />
                                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4"
                                    id="rating" />
                                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5"
                                    id="rating" checked />
                            </div>
                            <textarea name="comment" id="comment"
                                class="textarea w-full min-h-full resize-none invalid:focus:outline-error focus:outline-accent"
                                autofocus minlength="4" maxlength="255" placeholder="give a comment"
                                required></textarea>
                            <button class="btn" type="submit">submit</button>
                        </form>
                    </div>
                </div>
                <div class="rounded-box">
                    <figure>
                        <img th:src="${item.imagePath}" />
                    </figure>
                </div>
            </div>
        </div>
        <div class="container mx-auto alert mt-4" th:each="comment : ${item.comments}">
            <div class="rating items-start">
                <span class="font-bold" th:text="${comment.rating}"></span>
                <input disabled class="mask mask-star-2 bg-orange-400"></input>
            </div>
            <div>
                <span th:text="${comment.text}"></span>
            </div>
            <!--<div sec:authorize="hasRole('BOSS')">
                <form method="post" th:action="'/plotcatalog/details/'+${item.id}+'/comments/'+${comment}">
                    <button class="btn btn-primary" type="submit">Delete Post</button>
                </form>
            </div>-->
        </div>
    </main>
</body>

</html>