<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html(title=#{seasonalcatalog.title})}">

<head></head>

<body>

    
    <main layout:fragment="input">

        <div th:if="${ordersCompleted != null}" th:fragment="my_orders" class="overflow-x-auto container mx-auto mt-14 rounded-box">
            <table class="table table-zebra">
                <thead>
                    <tr>
                        <th>
                            <span th:text="#{my_orders}"></span>
                        </th>
                        <th>
                            <span>Reservieren</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${ordersCompleted}"> 
                        <td class="flex">
                            <div>
                                <img class="h-32 w-32" th:src="${order.product.imagePath}" />
                            </div>
                            <div>
                                <div th:text="${order.product.name}">Plotname</div>
                                <div>
                                    <div th:text="'Kosten: '+${order.product.priceString}"></div>
                                    <div th:text="'Größe: '+${order.product.sizeString}"></div>
                                    <div th:text="#{${order.product.parking.label}}"></div>
                                    <div th:text="${order.product.desc}"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <button class="btn btn-primary" type="submit" th:text="#{catalog.reserve.for_next_year}"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <form method="post" action="/seasonalplotcatalog/filter#top">
            <a id="top"></a>

            <!-- button to act as the default submit button, so the others don't. -->
            <button type="submit" hidden></button>

            <div class="container mx-auto mt-20">
                <div class="stats shadow w-full">

                    <div class="stat place-items-center">
                        <div class="stat-title">Parkplatz</div>
                        <div class="stat-value text-secondary">
                            <select class="select w-full max-w-xs" name="parking" onchange="this.form.submit()">
                                <option disabled selected>Pick The minimum size you need</option>
                                <option value="0" th:selected="${searchQuery.parking==0}"
                                    th:text="#{catalog.parking.no}">
                                </option>
                                <option value="1" th:selected="${searchQuery.parking==1}"
                                    th:text="#{catalog.parking.bike}">
                                </option>
                                <option value="2" th:selected="${searchQuery.parking==2}"
                                    th:text="#{catalog.parking.car}">
                                </option>
                                <option value="3" th:selected="${searchQuery.parking==3}"
                                    th:text="#{catalog.parking.camper}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="stat place-items-center">
                        <div class="stat-title">Größe in Quadratmeter</div>
                        <div class="stat-actions">
                            <div>
                                <input class="input" type="number" name="sizeMin" th:value="${searchQuery.sizeMin}"
                                    th:placeholder="#{catalog.ranges.from-size}" onchange="this.form.submit()">
                            </div>
                            <div>
                                <input class="input" type="number" name="sizeMax" th:value="${searchQuery.sizeMax}"
                                    th:placeholder="#{catalog.ranges.to-size}" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>

                    <div class="stat place-items-center">
                        <div class="stat-title">Preis</div>
                        <div class="stat-actions">
                            <div>
                                <input class="input" type="number" name="priceMin" th:value="${searchQuery.priceMin}"
                                    th:placeholder="#{catalog.ranges.from-price}" onchange="this.form.submit()">
                            </div>
                            <div>
                                <input class="input" type="number" name="priceMax" th:value="${searchQuery.priceMax}"
                                    th:placeholder="#{catalog.ranges.to-price}" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </form>

        <div th:fragment="seasonplot_table" class="overflow-x-auto container mx-auto mt-14 rounded-box">
            <table th:if="${plotsavailable != null}" class="table table-zebra">
                <thead>
                    <tr>
                        <th>
                            <span th:if="${plotsavailable}" th:text="#{catalog.plots.available}"></span>
                            <span th:if="${!plotsavailable}" th:text="#{seasonalplot.reserved}"></span>
                        </th>
                        <th>
                            <span>Reservieren</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="plot : ${allSeasonalPlots.get(plotsavailable)}">
                        <td class="flex">
                            <div>
                                <img class="h-32 w-32" th:src="${plot.imagePath}" />
                            </div>
                            <div>
                                <div th:text="${plot.name}">Plotname</div>
                                <div>
                                    <div th:text="'Kosten: '+${plot.priceString}"></div>
                                    <div th:text="'Größe: '+${plot.sizeString}"></div>
                                    <div th:text="#{${plot.parking.label}}"></div>
                                    <div th:text="${plot.desc}"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <section th:text="#{arrival} + ' ' + ${plot.ArrivalStr}">Arrival</section>
                            <section th:text="#{departure} + ' ' + ${plot.DepartureStr}">Departure</section>
                            <form th:if="${plotsavailable}" th:action="'/seasonalcheckout/' + ${plot.id}" method="post">
                                <button class="btn btn-primary" type="submit" th:text="#{catalog.reserve}"></button>
                                <select class="select w-full max-w-xs p-2 ">
                                    <option disabled selected th:text="#{seasonalcatalog.pay}">Pick your payment
                                        interval</option>
                                    <option value="0" th:text="#{seasonalcatalog.pay.monthly}"></option>
                                    <option value="1" th:text="#{seasonalcatalog.pay.yearly}"></option>
                                </select>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div th:replace="~{servings/seasonalplotcatalog :: seasonplot_table (plotsavailable=true)}"></div>
        <div th:replace="~{servings/seasonalplotcatalog :: seasonplot_table (plotsavailable=false)}"></div>


    </main>
</body>

</html>