<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html(title=#{title.seasonalcatalog})}">

<head></head>

<body>
    <main layout:fragment="input">
        <form method="post" action="/seasonalplotcatalog/filter#top">
            <a id="top"></a>
            <button type="submit" hidden></button>
            <div
                class="grid sm:grid-cols-3 grid-flow-row gap-3 container rounded-box shadow-lg bg-base-300 mx-auto justify-center p-4 mt-20">
                <div class="flex flex-col justify-around items-center">
                    <div class="pb-8">
                        <label class="label-text" th:text="#{plot.parking}">Parkplatz:</label>
                    </div>
                    <select class="select select-none w-full max-w-xs focus:outline-accent" name="parking"
                        onchange="this.form.submit()">
                        <option value="0" th:selected="${searchQuery.parking==0}" th:text="#{catalog.parking.no}">
                        </option>
                        <option value="1" th:selected="${searchQuery.parking==1}" th:text="#{catalog.parking.bike}">
                        </option>
                        <option value="2" th:selected="${searchQuery.parking==2}" th:text="#{catalog.parking.car}">
                        </option>
                        <option value="3" th:selected="${searchQuery.parking==3}" th:text="#{catalog.parking.camper}">
                        </option>
                    </select>
                </div>
                <div class="flex flex-col justify-around items-center">
                    <div class="pb-8">
                        <label class="label-text" th:text="#{catalog.plot.size}">Größe in Quadratmeter:</label>
                    </div>
                    <div class="flex flex-row">
                        <div class="px-2">
                            <input class="input w-full max-w-[180px] focus:outline-accent" type="number" name="sizeMin"
                                th:value="${searchQuery.sizeMin}" th:placeholder="#{catalog.ranges.from-size}"
                                onchange="this.form.submit()">
                        </div>
                        <div class="px-2">
                            <input class="input w-full max-w-[180px] focus:outline-accent" type="number" name="sizeMax"
                                th:value="${searchQuery.sizeMax}" th:placeholder="#{catalog.ranges.to-size}"
                                onchange="this.form.submit()">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-around items-center">
                    <div class="pb-8">
                        <label class="label-text" th:text="#{catalog.plot.price}">Price:</label>
                    </div>
                    <div class="flex flex-row">
                        <div class="px-2">
                            <input class="input w-full max-w-[150px] focus:outline-accent" type="number" name="priceMin"
                                th:value="${searchQuery.priceMin}" th:placeholder="#{catalog.ranges.from-price}"
                                onchange="this.form.submit()">
                        </div>
                        <div class="px-2">
                            <input class="input w-full max-w-[150px] focus:outline-accent" type="number" name="priceMax"
                                th:value="${searchQuery.priceMax}" th:placeholder="#{catalog.ranges.to-price}"
                                onchange="this.form.submit()">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div th:fragment="seasonplot_table" class="overflow-x-auto container mx-auto mt-14 rounded-box shadow-md">
            <table th:if="${plotsavailable != null}" class="table table-zebra">
                <thead class="bg-secondary">
                    <tr>
                        <th>
                            <span th:if="${plotsavailable}" th:text="#{catalog.plots.available}"></span>
                            <span th:if="${!plotsavailable}" th:text="#{seasonalplot.reserved}"></span>
                        </th>
                        <th>
                            <span>Reservieren</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="plot : ${allSeasonalPlots.get(plotsavailable)}">
                        <th class="flex">
                            <div class="pr-4">
                                <img class="h-32 w-32 mask mask-squircle" th:src="${plot.imagePath}" />
                            </div>
                            <div class="my-auto justify-between">
                                <a class="underline" th:text="${plot.name}"
                                    th:href="@{/seasonalplotcatalog/details/{plot}(plot=${plot.id})}"></a>
                                <p class="text-neutral-500">Kosten: <span class="text-accent"
                                        th:text="${plot.priceString}"></span>
                                </p>
                                <p class="text-neutral-500">Größe: <span class="text-accent"
                                        th:text="${plot.sizeString}"></span></p>
                                <p class="text-neutral-500" th:text="#{${plot.parking.label}}"></p>
                            </div>
                        </th>
                        <td>
                            <div class="flex flex-row justify-around pb-4">
                                <section th:text="#{arrival} + ': ' + ${plot.getArrivalStr(currentDate)}">Arrival
                                </section>
                                <section th:text="#{departure} + ': ' + ${plot.getDepartureStr(currentDate)}">Departure
                                </section>
                            </div>
                            <form class="flex flex-row justify-around" th:if="${plotsavailable}"
                                th:action="'/seasonalcheckout/' + ${plot.id}" method="post">
                                <select name="payMethod" class="select w-full max-w-xs p-2 focus:outline-accent">
                                    <option value="1" th:text="#{seasonalcatalog.pay.yearly}"></option>
                                    <option value="0" th:text="#{seasonalcatalog.pay.monthly}"></option>
                                </select>
                                <button class="btn btn-primary" type="submit" th:text="#{catalog.reserve}"></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{servings/seasonalplotcatalog :: seasonplot_table (plotsavailable=true)}"></div>
    </main>
</body>

</html>