<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html(title=#{sportequip.title})}">

<head></head>

<body>
    <main layout:fragment="input">
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                    <tr>
                        <th th:text="#{sport.name}"></th>
                        <th th:text="#{sport.amount}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, iStat : ${items}" class="hover">
                        <th th:text="${item.name}"></th>
                        <td th:text="${item.amount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>