<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html(title=#{sportequip.title})}">

<head></head>

<body>
    <div class="container">
        <main layout:fragment="input">
            <div class="container mx-auto mt-20 grid grid-cols-4 gap-4">
                <div class="flex grow place-self-auto" th:each="item : ${items}">
                    <a th:href="@{/sportitem/{id}(id=${item.id})}">
                        <div class="card card-compact w-96 bg-base-100 shadow-xl">
                            <figure>
                                <img th:src="${item.imagePath}" />
                            </figure>
                            <div class="card-body grid grid-cols-2 justify-items-stretch">
                                <div>
                                    <h2 class="card-title" th:text="${item.name}"></h2>
                                    <p th:text="${item.desc}"></p>
                                </div>
                                <div class="justify-self-end flex items-end">
                                    <h2 class="font-normal" th:text="#{sport.available}+': '+ ${item.amount}">0
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</body>

</html>