<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{sportequip.title})}">

<head></head>

<body>
   <div class="container">
       <section layout:fragment="input">
           <div class="ui link cards" th:remove="all-but-first">
               <div class="ui card" th:each="item, iStat : ${items}">
                   <div class="content">
                       <a th:href="@{/item/{id}(id=${item.id})}">
                           <img class="ui image" th:src="${item.imagePath}" alt="Sport Item Image"/>
                       </a>
                       <p>&nbsp;</p>
                       <p>&nbsp;</p>
                   </div>
               </div>
           </div>
       </section>
   </div>
</body>

</html>



