header {
	width:100%;
	height: 400px;
	background-image: url(../img/campsite.png);
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
}

header h1{
	color: gold;
}

input.fieldError {
    border-color:red !important;
    box-shadow:0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}

.ui.red.button {
    background-color: rgb(162, 9, 9);
    color: white;
}

.black-text {
	color: black;
}




.plot-day-lable {
	width:100%;
	height:100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plot-day-selector {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	border: none;
	background: none;
	transition: background-color 0.2s;
}


.plot-catalog-field.free + .plot-catalog-field .vormittag,
.plot-catalog-field.free .nachmittag {
	background-color: #FFFFFF;
}

.plot-catalog-field.free-highlighted + .plot-catalog-field .vormittag,
.plot-catalog-field.free-highlighted .nachmittag{
	background-color: #E0F4FF;
}

.plot-catalog-field.free-selected + .plot-catalog-field .vormittag,
.plot-catalog-field.free-selected .nachmittag{
	background-color: #39A7FF;
}

.plot-catalog-field.reserved-others + .plot-catalog-field .vormittag,
.plot-catalog-field.reserved-others .nachmittag {
	background-color: #FFD28F;
}

.plot-catalog-field.reserved-self + .plot-catalog-field .vormittag,
.plot-catalog-field.reserved-self .nachmittag{
	background-color: #D2DE32;
}

.plot-catalog-field.free:hover + .plot-catalog-field .vormittag,
.plot-catalog-field.free:hover .nachmittag {
	background-color: #39A7FF;
}


/* operation on all .plot-day-selector.free-highlighted within a tr,
 if it contains a .plot-select-all, that is hovered over */
.plot-catalog-field.free-highlighted:hover .nachmittag,
tr:has(.plot-select-all:hover) .plot-day-selector.free-highlighted {
	background-color: #39A7FF
}



td {
	border-spacing: 4px;
}


.ui.table #divider:not(:last-child) td {
	/*border-bottom: 4px solid rgba(34,36,38,.15);*/
	border-bottom: 4px solid white;
}

.vormittag {
	height: 35%;
}

.nachmittag {
	height: 65%;
}

.cart-icon {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-icon i {
	margin-top: 10px;
	font-size: 30px;
}

.i.black.icon {
	color: #1b1c1d !important;
}

body {
	color: #000000;
	background: #fff;
	font: 100% system-ui;
}
a {
	color: black;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #000000;
	}

	body a {
		color: lightgrey;
	}

	.ui.menu .item {
		color: white !important;
	}

	.ui.menu {
		background: black;
		border-color: white;
	}

	.ui.menu .item::before {
		background-color: white;
	}

	.i.black.icon {
		color: lightgrey !important;
	}

	.ui.table {
		background: black;
		border-color: white;
		color: white;
	}
	.ui.items .item .content .header {
		color: white;
	}

	.ui.items .item .meta {
		color: lightgrey;
	}

	.ui.table thead th {
		color: white;
		background: black;
	}

	.ui.statistic  .label, .ui.statistics .statistic  .label {
		color: white;
	}

	.ui.statistic .value {
		color: white;
	}


}
