header {
	width:100%;
	height: 400px;
	background-image: url(../img/campsite.png);
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
}

header h1{
	color: gold;
}

input.fieldError {
    border-color:red !important;
    box-shadow:0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}

.ui.red.button {
    background-color: rgb(162, 9, 9);
    color: white;
}

.black-text {
	color: black;
}

.cart-icon {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-icon i {
	margin-top: 10px;
	font-size: 30px;
}

.i.black.icon {
	color: #1b1c1d !important;
}

body {
	color: #000000;
	background: #fff;
	font: 100% system-ui;
}
a {
	color: black;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #000000;
	}

	body a {
		color: lightgrey;
	}

	.ui.menu .item {
		color: white !important;
	}

	.ui.menu {
		background: black;
		border-color: white;
	}

	.ui.menu .item::before {
		background-color: white;
	}

	.i.black.icon {
		color: lightgrey !important;
	}

	.ui.table {
		background: black;
		border-color: white;
		color: white;
	}
	.ui.items .item .content .header {
		color: white;
	}

	.ui.items .item .meta {
		color: lightgrey;
	}

	.ui.table thead th {
		color: white;
		background: black;
	}

	.ui.statistic  .label, .ui.statistics .statistic  .label {
		color: white;
	}

	.ui.statistic .value {
		color: white;
	}


}
