@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
  :root {
    --text-50: #f8eeec;
    --text-100: #f1ddda;
    --text-200: #e4bbb4;
    --text-300: #d6998f;
    --text-400: #c97769;
    --text-500: #bb5644;
    --text-600: #964436;
    --text-700: #703329;
    --text-800: #4b221b;
    --text-900: #25110e;
    --text-950: #130907;
    
    --background-50: #f8f1ec;
    --background-100: #f1e4da;
    --background-200: #e4c9b4;
    --background-300: #d6ae8f;
    --background-400: #c99369;
    --background-500: #bb7844;
    --background-600: #966036;
    --background-700: #704829;
    --background-800: #4b301b;
    --background-900: #25180e;
    --background-950: #130c07;
    
    --primary-50: #f9f7ec;
    --primary-100: #f3eed8;
    --primary-200: #e6ddb2;
    --primary-300: #dacd8b;
    --primary-400: #cdbc65;
    --primary-500: #c1ab3e;
    --primary-600: #9a8932;
    --primary-700: #746725;
    --primary-800: #4d4419;
    --primary-900: #27220c;
    --primary-950: #131106;
    
    --secondary-50: #f4f9ec;
    --secondary-100: #eaf3d8;
    --secondary-200: #d5e6b2;
    --secondary-300: #c0da8b;
    --secondary-400: #aacd65;
    --secondary-500: #95c13e;
    --secondary-600: #779a32;
    --secondary-700: #5a7425;
    --secondary-800: #3c4d19;
    --secondary-900: #1e270c;
    --secondary-950: #0f1306;
    
    --accent-50: #f4f9ec;
    --accent-100: #eaf3d8;
    --accent-200: #d5e6b2;
    --accent-300: #c0da8b;
    --accent-400: #aacd65;
    --accent-500: #95c13e;
    --accent-600: #779a32;
    --accent-700: #5a7425;
    --accent-800: #3c4d19;
    --accent-900: #1e270c;
    --accent-950: #0f1306;
    
  }
  .dark {
    --text-50: #130907;
    --text-100: #25110e;
    --text-200: #4b221b;
    --text-300: #703329;
    --text-400: #964436;
    --text-500: #bb5644;
    --text-600: #c97769;
    --text-700: #d6998f;
    --text-800: #e4bbb4;
    --text-900: #f1ddda;
    --text-950: #f8eeec;
    
    --background-50: #130c07;
    --background-100: #25180e;
    --background-200: #4b301b;
    --background-300: #704829;
    --background-400: #966036;
    --background-500: #bb7844;
    --background-600: #c99369;
    --background-700: #d6ae8f;
    --background-800: #e4c9b4;
    --background-900: #f1e4da;
    --background-950: #f8f1ec;
    
    --primary-50: #131106;
    --primary-100: #27220c;
    --primary-200: #4d4419;
    --primary-300: #746725;
    --primary-400: #9a8932;
    --primary-500: #c1ab3e;
    --primary-600: #cdbc65;
    --primary-700: #dacd8b;
    --primary-800: #e6ddb2;
    --primary-900: #f3eed8;
    --primary-950: #f9f7ec;
    
    --secondary-50: #0f1306;
    --secondary-100: #1e270c;
    --secondary-200: #3c4d19;
    --secondary-300: #5a7425;
    --secondary-400: #779a32;
    --secondary-500: #95c13e;
    --secondary-600: #aacd65;
    --secondary-700: #c0da8b;
    --secondary-800: #d5e6b2;
    --secondary-900: #eaf3d8;
    --secondary-950: #f4f9ec;
    
    --accent-50: #0f1306;
    --accent-100: #1e270c;
    --accent-200: #3c4d19;
    --accent-300: #5a7425;
    --accent-400: #779a32;
    --accent-500: #95c13e;
    --accent-600: #aacd65;
    --accent-700: #c0da8b;
    --accent-800: #d5e6b2;
    --accent-900: #eaf3d8;
    --accent-950: #f4f9ec;
    
  }
}*/

@layer base {
  :root {
    --text: #0b0504;
    --background: #fbf7f4;
    --primary: #dcd093;
    --secondary: #d7e7b6;
    --accent: #7a9e33;
  }
  .dark {
    --text: #fbf5f4;
    --background: #0b0704;
    --primary: #6c6023;
    --secondary: #394918;
    --accent: #a8cc61;
  }
}


