@tailwind base;
@tailwind components;
@tailwind utilities;


#grass {
  fill: green;
}

#tent, [data-theme] {
  fill: yellow;
  fill: var(--fallback-bc,oklch(var(--b2)/1));
}

#sun {
  fill: var(--fallback-bc,oklch(var(--bc)/1));
  transition: .5s ease-in-out;
  transform-origin: 40% 50%;
}

#box:hover #sun {
  transform: rotate(45deg);
}

#myButton:hover ~ #highlightDiv.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}
