@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0b0504;
    --background: #fbf7f4;
    --primary: #e4cb4e;
    --secondary: #d7e7b6;
    --accent: #7a9e33;
  }
  .dark {
    --text: #fbf5f4;
    --background: #0b0704;
    --primary: #b1981b;
    --secondary: #394918;
    --accent: #a8cc61;
  }
}

