<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}"
>
	<head></head>
	<body>
		<main layout:fragment="input" class="flex flex-auto mx-auto justify-center">
			<div class="bg-center">
				<h1 class="text-3xl font-bold">This is our Landingpage</h1>
			</div>


			<!-- You can open the modal using ID.showModal() method -->
			<button class="btn" onclick="my_modal_3.showModal()">open modal</button>
			<dialog id="my_modal_3" class="modal">
				<div class="modal-box">
					<form method="dialog">
						<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
					</form>
					<div th:insert="static/login :: login"></div>
				</div>
			</dialog>
		</main>
	</body>
</html>