<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body>
        <nav th:fragment="navigation">
            <div class="ui menu">
                <div class="left menu">
                    <a class="item" href="plotcatalog.html" th:href="@{/plots}" th:text="#{nav.plots}">Platzreservierung</a>
                    <a class="item" href="plotcatalog.html" th:href="@{/equipment}" th:text="#{nav.equipment}">Sportgeräteverleih</a>

                    <a class="item" href="customers.html" th:href="@{/dashboard}" sec:authorize="hasRole('BOSS')"
                       th:text="#{nav.dashboard}">Dashboard</a>
                </div>
                <div class="right menu">
                    <div>
                        <a href="/cart" class="cart-icon">
                            <i class="shopping cart icon"></i>
                        </a>
                    </div>
                    
                    
                    <a class="item" href="plotcatalog.html" sec:authorize="hasAnyRole('BOSS','CUSTOMER')" th:href="@{/orders}" th:text="#{nav.orders}">Bestellungen</a>
                    <div class="item" sec:authorize="!hasAnyRole('BOSS','CUSTOMER')">
                        <button type="submit" class="ui button">
                            <a class="black-text" href="register.html" th:href="@{/register}"
                            sec:authorize="!hasAnyRole('BOSS','CUSTOMER')"
                            th:text="#{nav.register}">Registrierung</a>
                        </button>
                    </div>
                    <div class="item" sec:authorize="!isAuthenticated()">
                        <button type="submit" class="ui button">
                            <a class="black-text" th:href="@{/login}"  th:text="#{nav.login}">Login</a>
                        </button>
                    </div>
                    <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="ui button black-text" th:text="#{nav.logout}">Logout</button>
                    </form>
                </div>
            </div>
            <br/>
        </nav>
    </body>
</html>
