<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{orders.title})}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <h2 th:text="#{orders.completed}"></h2>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th th:text="#{cart.Title}">Titel</th>
                    <th th:text="#{cart.arrival}">arrival</th>
                    <th th:text="#{cart.count}">Anzahl</th>
                    <th th:text="#{cart.price}">Preis</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="item : ${ordersCompleted} ">
                    <td th:text="${item.plot.name}">Name</td>
                    <td th:text="${item.begin}">YYYY-MM-DD</td>
                    <td th:text="${item.days}">number</td>
                    <td th:text="${item.price}">10 Euro</td>
                </tr>
            </table>
        </section>
    </body>
</html>
