<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{cart.title})}">
    <head>
        <title>Verfügbare Plätze</title>
    </head>
    <body>
    <header>
        <h1> Platz Katalog</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>
    <section layout:fragment="content">
        <!-- warping everything in a form. this way all state the site hold is submitted at once and nothing is lost -->
        <form class="ui form" method="post" action="/plots/filter#top">
        <a id="top"></a>
        <!-- Search Panel -->
        <!-- Wrapping it in a table as a hack to surround it in a pretty box -->
        <table class="ui table"><td>
            <div class="inline fields">
                <div class="one wide field">
                    <label>Zeitraum</label>
                </div>
                <div class="three wide field">
                    <input type="date" name="arrival" th:value="${searchQuery.defaultedArrival}" th:min="${searchQuery.minArrivalDate}" onchange="this.form.submit()">
                </div>
                <div class="three wide field">
                    <input type="date" name="departure" th:value="${searchQuery.defaultedDeparture}" th:min="${searchQuery.defaultedArrival}"  onchange="this.form.submit()">
                </div>
                <div class="one wide field"></div>
                <div class="one wide field">
                    <label>Parkplatz</label>
                </div>
                <div class="six wide field">
                    <div class="ui field">
                        <select  class="flex" name="parking" onchange="this.form.submit()">
                            <option value="0" th:selected="${searchQuery.parking==0}" th:text="#{catalog.parking.no}"> </option>
                            <option value="1" th:selected="${searchQuery.parking==1}" th:text="#{catalog.parking.bike}"></option>
                            <option value="2" th:selected="${searchQuery.parking==2}" th:text="#{catalog.parking.car}"></option>
                            <option value="3" th:selected="${searchQuery.parking==3}" th:text="#{catalog.parking.camper}"></option>
                        </select>
                        <label>mindestens</label>
                    </div>
                </div>
            </div>
            <div class="inline fields">
                <div class="one wide field">
                    <label>Größe</label>
                </div>
                <div class="three wide field">
                    <input type="number" name="sizeMin" th:value="${searchQuery.sizeMin}"
                           th:placeholder="#{catalog.ranges.from}" onchange="this.form.submit()"
                    >
                </div>
                <div class="three wide field">
                    <input type="number" name="sizeMax" th:value="${searchQuery.sizeMax}"
                           th:placeholder="#{catalog.ranges.to}" onchange="this.form.submit()"
                    >
                </div>
                <div class="one wide field"></div>
                <div class="one wide field">
                    <label>Preis</label>
                </div>
                <div class="three wide field">
                    <input type="number" name="priceMin" th:value="${searchQuery.priceMin}"
                           th:placeholder="#{catalog.ranges.from}" onchange="this.form.submit()"
                    >
                </div>
                <div class="three wide field">
                    <input type="number" name="priceMax" th:value="${searchQuery.priceMax}"
                           th:placeholder="#{catalog.ranges.to}" onchange="this.form.submit()"
                    >
                </div>
            </div>
        </td></table>

        <!-- button to act as the default submit button, so the others don't. we shove it off to the side, to be hidden -->
        <button type="submit" style="position:relative;left:1000000px"></button>

        <!-- The table showing the available and unavailable Plots -->
        <!-- The Fragment definition of the table-->
        <div th:fragment="plot_table">               <!-- if preventing the fragment beging rendered, without beging explicitly included -->
            <a th:id="${availablePlotsTable}" th:if="${availablePlotsTable != null}"></a>
            <table class="ui table" th:if="${availablePlotsTable != null}">
                <!-- The head of the table -->
                <thead>
                    <tr>
                        <input type="hidden" name="firstWeekDate" th:value="${searchQuery.defaultedFirstWeekDate}">
                        <th class="four wide bottom aligned" style="width:28%">
                            <h2 th:if="${availablePlotsTable}" th:text="#{catalog.plots.available}"></h2>
                            <h2 th:if="${!availablePlotsTable}" th:text="#{catalog.plots.reserved}"></h2>
                        </th>
                        <th class="right aligned" style="width:4%"><button type="submit" th:formaction="'/plots/prev-week#'+${availablePlotsTable}"><</button></th>
                        <th class="center aligned" style="width:8%" th:each="date, stat : ${weekDates}"
                            th:utext=" #{'weekday.'+${stat.index}} + '<br/>' + ${date}">
                        <th class="one wide left aligned" style="width:4%"><button type="submit" th:formaction="'/plots/next-week#'+${availablePlotsTable}">></button></th>
                    </tr>
                </thead>
                <!-- The body of the table -->
                <tbody>
                    <tr th:each="plot, stat : ${allPlots.get(availablePlotsTable)}">
                        <td class="four wide ui items" style="width:28%">
                            <div class="ui item">
                                <div class="ui small image" style="display: inline-block">
                                    <img src="/resources/img/placeholder.png"/>
                                </div>
                                <div class="content" style="display:inline-block">
                                    <div class="header" th:text="${plot.name}">null</div>
                                    <div class="meta">
                                        <div th:text="'Kosten: '+${plot.priceString}"></div>
                                        <div th:text="'Größe: '+${plot.sizeString}"></div>
                                        <div th:text="#{${plot.parking.label}}"></div>
                                    </div>
                                    <button type="submit" class="ui button plot-select-all" th:formaction="'/plots/select/' + ${plot.id}+'#'+${availablePlotsTable}" th:text="#{catalog.select}" th:if="${availablePlotsTable}"></button>
                                </div>
                            </div>
                        </td>
                        <td class="one wide" style="width:4%"></td>
                        <td class="two wide center aligned" th:each="fields : ${availabilityTable.get(plot)}" th:colspan="${fields.amount}"  style="position: relative; width:8%">
                            <button th:type="${fields.type.clickability}" th:formaction="'/plots/select/'+${plot.id}+'/'+${fields.index}+'#'+${availablePlotsTable}" th:class="'plot-day-selector '+#{${fields.type.css}}">
                                <div class="plot-day-lable">
                                    <text th:text="#{${fields.type.label}}"></text>
                                </div>
                            </button>
                        </td>
                        <td class="one wide" style="width:4%"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- The inclusion of the table fragment -->
        <div th:replace=" plotcatalog :: plot_table (availablePlotsTable=true)"></div> <br>
        <div th:replace=" plotcatalog :: plot_table (availablePlotsTable=false)"></div> <br>


        </form>
    </section>
    </body>
</html>