<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{title.login})}">

<head></head>

<body>
	<main layout:fragment="input">
		<div class="hero min-h-screen bg-base-200">
			<div class="hero-content flex-col lg:flex-row-reverse">
				<div class="text-center lg:text-left">
					<h1 class="text-5xl font-bold" th:text="#{login.message}">
						Login now!
					</h1>
					<p class="py-6" th:text="#{login.info}">
						Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
						excepturi exercitationem quasi. In deleniti eaque aut repudiandae
						et a id nisi.
					</p>
					<div th:if="${param.error}" role="alert" class="alert alert-error">
						<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
							viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
						<span>Login failed. Please try again.</span>
					</div>
				</div>
				<div class="card shrink-0 w-full max-w-md shadow-2xl bg-base-100">
					<form class="card-body" id="form" th:action="@{/login}" method="post" role="form">
						<div class="label pb-0">
							<span class="label-text-alt text-neutral-500" th:text="#{login-register.emailplease}"></span>
						</div>
						<div class="form-control">
							<input class="input input-bordered focus:outline-accent w-full" type="text"
								th:placeholder="#{login-register.email}" aria-label="Username" id="username" name="username"
								autofocus="autofocus" />
						</div>
						<div class="label pb-0">
							<span class="label-text-alt text-neutral-500" th:text="#{login-register.passwordplease}"></span>
						</div>
						<div class="form-control">
							<input class="input input-bordered focus:outline-accent w-full" type="password"
								th:placeholder="#{login-register.password}" aria-label="Password" id="password" name="password" />
						</div>
						<div class="form-control mt-6">
							<button class="btn btn-accent" type="submit" th:text="#{login.login}">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>

</html>