<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=#{register.title})}">

<head> </head>

<body>
    <main layout:fragment="input">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold" th:text="#{register.info}">
                        Register now!
                    </h1>
                    <p class="py-6" th:text="#{resgister.message}">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
                        excepturi exercitationem quasi. In deleniti eaque aut repudiandae
                        et a id nisi.
                    </p>
                </div>

                <div class="card shrink-0 w-full max-w-md shadow-2xl bg-base-100">
                    <form class="card-body" id="form" th:action="@{/register}" th:object="${registrationForm}"
                        method="post" role="form">
                        <div class="label pb-0">
                            <span class="label-text-alt">What is your name?</span>
                        </div>
                        <div class="flex join">
                            <input id="firstname" th:field="*{name}" th:errorclass="fieldError" type="text"
                                th:placeholder="#{login-register.fistname}"
                                class="input input-bordered focus:outline-accent bg-transparent join-item w-[50%]"
                                required />
                            <input id="lastname" th:field="*{last}" th:errorclass="fieldError" type="text"
                                th:placeholder="#{login-register.lastname}"
                                class="input input-bordered focus:outline-accent bg-transparent join-item w-[50%]"
                                required />
                        </div>
                        <div class="label pb-0">
                            <span class="label-text-alt">think of a password</span>
                        </div>
                        <div class="form-control">
                            <input id="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                                th:placeholder="#{login-register.password}"
                                class="input input-bordered focus:outline-accent" required />
                        </div>
                        <div class="label pb-0">
                            <span class="label-text-alt">think of an email</span>
                        </div>
                        <div class="form-control">
                            <input id="email" th:field="*{email}" th:errorclass="fieldError" type="email"
                                th:placeholder="#{login-register.email}"
                                class="input input-bordered focus:outline-accent" required />
                        </div>

                        <div class="form-control mt-6">
                            <button class="btn btn-accent" type="submit" th:text="#{register.submit}">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>